<nav class="navbar sticky-top navbar-toggleable-md navbar-light bg-faded navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><i class="fa fa-home" aria-hidden="true"></i>
</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">  
      <li class="nav-item">
        <a class="nav-link" href="#">ESPACE SALARIÉ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ESPACE CLIENT</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">EMPLOI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FRANCHISE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TROUVER UNE AGENCE</a>
      </li>
    
  
    </ul>
  </div>
</nav>


<nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center d-flex align-items-stretch no_botpad">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand d-flex w-50 mr-auto"><div class="logo"></div></a>
    <div class="navbar-collapse collapse " id="collapsingNavbar3">
     
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item d-flex align-items-center col1">
                <a class="nav-link" href="#">MENAGE/REPASSAGE</a>
            </li>
            <li class="nav-item d-flex align-items-center col2">
                <a class="nav-link" href="#">GARDE D'ENFATNS</a>
            </li>
            <li class="nav-item d-flex align-items-center col3">
                <a class="nav-link" href="#">JARDINAGE/
BRICOLAGE</a>
            </li>
             <li class="nav-item d-flex align-items-center col4" >
                <a class="nav-link" href="#">AIDE AUX REPAS</a>
            </li>
             <li class="nav-item d-flex align-items-center col5">
                <a class="nav-link" href="#">AIDE AU COUCHER/
LEVER</a>
            </li>
             <li class="nav-item d-flex align-items-center col6">
                <a class="nav-link" href="#">COMPAGNIE</a>
            </li>
             <li class="nav-item d-flex align-items-center col7">
                <a class="nav-link" href="#">AIDE A LA MOBLITÉ</a>
            </li>
        </ul>
    </div>
</nav>
    <div class="container">
<ngb-carousel>
  <ng-template ngbSlide>
    <img height="500" width="1200" src="../assets/img/carousel1.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3></h3>
      <p></p>
    </div>
  </ng-template>
</ngb-carousel>
    </div><!-- /.container -->
