/* change the background color */
.navbar-custom {
    background-color: #03A9F4;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,1);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgba(255,255,255,.7);
}
.custom-nav{
    ul{
        li{
            margin-top: auto;
            width: auto;
        }
    }
}

.logo{
    background-image: url(assets/img/aide.png) ;
    background-position: center;
    background-size: 100%;
    height: 70px;
    width: 70px;
}
.col1{
    background-color: #FF9800;
}
.col2{
    background-color: #FF5722
}
.col3{
    background-color: #4CAF50
}
.col4{
    background-color: #673AB7
}
.col5{
    background-color: #E91E63
}
.col6{
    background-color: #F44336
}
.col7{
    background-color: #FFC107
}
.navbar-light .navbar-nav .nav-link {
   color: white;
}
.col1:hover{
    
}
.no_botpad{
    padding-bottom: 0;
    padding-right: 0;
}